@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* colors */
:root {
    /* primary */
--pink: hsl(324, 100%, 44%);
--light-pink: hsl(321, 100%, 78%);
--light-red: hsl(0, 100%, 63%);
/* neutral */
--very-dark-cyan: hsl(192, 100%, 9%);
--very-pale-blue: hsl(207, 100%, 98%);
}
/* colors */


/* reset setting */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

picture,
img {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Open Sans',
     sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* end reset setting */


/* global setting */
h1,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

h2 {
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

p {
    color: var(--very-dark-cyan);
}

.btn {
    background-color: var(--pink);
    color: hsl(0, 0%, 100%);
    padding: .9rem 3.2rem;
    border-radius: 5rem;
    font-weight: 600;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 11px 0px hsla(0, 0%, 7%, 0.3);
    box-shadow: 0px 4px 10px 0px hsla(0, 0%, 7%, 0.3);
    transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
}

.btn:hover,
.btn:focus {
    filter: brightness(1.4);
}
/*end global setting */


/* header section */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
}

.header-logo {
    width: 8.438rem;
}

.header-btn {
    text-transform: capitalize;
    color: hsl(324, 100%, 44%);
    border: 2px solid hsl(324, 100%, 44%);
    padding: .2rem 1.2rem;
    border-radius: 5rem;
    font-weight: 600;
    transition: 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}

.header-btn:hover,
.header-btn:focus {
    filter: brightness(1.4);
}
/* end header section */


/* community section */
.community {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.community h1 {
    text-align: center;
    padding: 1rem 1.5rem;;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.community p {
    text-align: center;
    padding: 1rem 1.3rem;
}

.button-1 {
    margin-top: 2.5rem;
}

.mockups {
    margin-top: 4rem;
    padding: 2rem 1.5rem;
}

.response-all {
    margin: 3rem 0;
}

.response {
    margin-bottom: 5.5rem;
}

.response-desc  {
    display: flex;
    flex-direction: column;
}

.response h2 {
    font-size: 4.2rem;
}

.response-desc span {
    font-size: 1.1rem;
    align-self: center;
    color: var(--very-dark-cyan);
}
/*end community section */


/* services section */

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 6rem 0;
}

.card-1,
.card-3 {
    background-color: var(--very-pale-blue);
    width: 100%;
}

.card-2 {
    margin-bottom: 5rem;
}

.top picture img {
    width: 100%;
    bottom: 100%;
    position: absolute;
    transform: scaleY(1.1);
}

.bottom picture img {
    width: 100%;
    top: 100%;
    position: absolute;
    transform: scaleY(1.1);
}

.grow-img,
.flowing-img,
.users-img {
    padding: 5.5rem 2rem;
}

.service-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service-desc h3 {
    font-size: 1.5rem;
}

.service-desc p {
    padding: 1rem .9rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
/*end services section */


/* build section */
.build {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 13rem;
}

.build h4 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}
/* end build section */


/* footer section */
.footer-container {
    background-color: var(--very-dark-cyan);
    padding: 3rem 1.3rem;
    margin-top: 16rem;
    color: var(--very-pale-blue);
    position: relative;
}

.top picture img {
    width: 100%;
    bottom: 100%;
    left: 0;
    position: absolute;
    /* transform: scaleY(1); */
}

footer p {
    color: var(--very-pale-blue);
}

.newsletter {
    display: flex;
    flex-direction: column;
    position: relative;
}

.newsletter h5 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--very-pale-blue);
    margin-bottom: 1rem;
}

.newsletter p {
    margin-bottom: 1.5rem;
}

.email-info .email-add {
    padding: 1rem 1.5rem;
    font-size: .8rem;
    border: none;
    border-radius: .3rem;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.newsletter-button {
    background-color: var(--pink);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 1rem 2.5rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.newsletter-button:hover,
.newsletter-button:focus {
    filter: brightness(1.4);
}

.footer-logo {
    margin-top: 8rem;
    filter: brightness(0) invert(1);
    width: 200px;
}

.all-info p {
    margin-top: 1.2rem;
}

.contact-add {
    padding: 2rem 0;
}

.phone,
.email {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.phone a:hover,
.phone a:focus,
.email a:hover,
.email a:focus {
    text-decoration: underline;
}
 
.phone a,
.email a  {
    color: var(--very-pale-blue);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.social-icons a {
    font-size: 2rem;
    color: var(--very-pale-blue);
    transition: 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}

.social-icons a:hover,
.social-icons a:focus {
    color: hsl(191, 94%, 48%);
}

.attribution {
    font-size: 11px;    
    text-align: center;
    background-color: var(--very-dark-cyan);
}

.attribution a {
    color: var(--pink);
}
/* end footer section */


/* media query */
@media only screen and (min-width: 920px) {
    .community h1 {
        font-size: 2.5rem;
        margin-top: 7rem;
    }

    .community p {
        max-width: 520px;
    }

    .response-all {
        column-count: 2;
        gap: 25rem;
        margin-top: 5rem;
    }

    .card-1 .wrapper,
    .card-3 .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        padding: 0 2.1rem;
    }

    .card-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2.1rem;
        margin: 6.5rem 0;
    }

    .grow-img,
    .flowing-img,
    .users-img {
        flex: 1;
        max-width: 700px;
    }

    .service-desc {
        flex: 1;
        max-width: 600px;
    }

    .service-desc h3 {
        text-align: left;
        font-size: 1.8rem;
        align-self: flex-start;
        margin-left: .8rem;
    }

    .card-1 p,
    .card-2 p,
    .card-3 p {
        text-align: left;
    }

    .build {
        margin: 20rem;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .newsletter {
        flex: 1;
        max-width: 600px;
    }

    .all-info {
        flex: 1;
        max-width: 600px;
    }

    .newsletter p,
    .all-info p {
        max-width: 400px;
    }

    .email-info {
        display: flex;
        gap: 2rem;
    }

    .email-info .email-add {
        padding: 1rem 1.5rem;
        font-size: .8rem;
        border: none;
        border-radius: .3rem;
        width: 60%;
        margin-bottom: 0;
        cursor: pointer;
    }

}
/* end media query */













/*end media query */